pandas
numpy
bokeh
cython
matplotlib
pip
bottle
beautifulsoup4
jupyter
jupyter_client
jupyter_console
jupyter_core
future
requests
pyyaml
xlrd
xlwt
seaborn
python-dateutil
python-magic
readline
scipy
setuptools
selenium
